<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
</head>
<body>
  <div class="center-logo"> <%=image_tag("Rainbow.jpg", :class => "page_img") %></div>
  <br>
  <h1 class="title">Collective Guidelines </h1>
  <div class="content">
    <ul>
      <p>To provide a place for peace, solace, refuge and support where we can sweat and share honestly together.</p>
      <br>
      <p>To recognize the power of a collective group with different kinds of minds.</p>
      <br>
      <p>To keep a focus on community and emphasis on friendship.</p>
      <br>
      <p>To offer varied programs to enhance recovery, with classes led in love and kept positive with appreciation.</p>
      <br>
      <p>When you come to class, you enter a safe space. Each community member agrees to these class guidelines while in class. We strive to uphold them.</p>
    </ul>
  </div>
  <br>
  <div class="center-logo"> <%=image_tag("QuestionMark.jpg", :class => "page_img") %></div>
  <h1 class="title">Q & A</h1>
  <div class="content">
    <ul>
    <p><b class="title">Can I attend a class if I don’t have a diagnosed mental illness?</b><br>
    Yes. Even though our classes are designed for people recovering or suffering from a mental illness, anyone with a desire to boost their brain naturally is welcome.</p>
    <br>
    <p><b class="title">What do I need to know before coming to class?</b><br>
    Our classes are safe spaces. Anyone who signs up to participate must agree to our collective guidelines. We’ll have a copy of them available to read along with a liability waiver to sign before each class.</p>
    <br>
    <p><b class="title">What should I bring to class?</b><br>
    Water and workout clothes. We’ll provide everything else.</p>
    <br>
    <p><b class="title">I’m not flexible, can I do yoga?</b><br>
    Each class includes personalized modifications if you need ‘em. That means options to customize poses based on ability (you can do it!). Instructors use verbal and directional cues to help get you in the right place.</p>
<br>
    <p><b class="title">How do I register to attend class?</b><br>
    We send out early bird invitations each month with information about where and when our next class is.</p>
<br>
    <p><b class="title">When is class?</b><br>
    Community classes are held once a month. We are busy working on a more detailed schedule to share post launch in 2019.
    </p>
<br>
    <p><b class="title">How much does class cost?</b><br>
    Community classes are donation based.
    </p>
<br>
    <p><b class="title">I tried to register but class is full. What now?</b><br>
    Additional classes may be added. Check back soon.</p>
<br>
    <p><b class="title"> Is your mobile class only available to outpatient facilities?</b><br>Nope. We travel to schools and workplaces too. <a id="mail-to" href="mailto:hello@mentalwealthcollective.com">Reach out</a> to our team to coordinate or host a class with us!
    </p>
<br>
    <p><b class="title">My question isn’t listed here.</b><br>
    We’d love to help. Please email <a id="mail-to" href="mailto:hello@mentalwealthcollective.com">hello@mentalwealthcollective.com</a> with any questions – or even feedback.</p>
</ul>
  </div>
</body>
</html>
