<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
</head>
<body>
  <div class="center-logo"> <%=image_tag("Rainbow.jpg", :class => "page_img") %></div>
  <br>
  <h1>Collective Guidelines </h1>
  <div class="content">
    <ul>
      <p>To provide a place for peace, solace, refuge and support where we can sweat and share honestly together.</p>
      <br>
      <p>To recognize the power of a collective group with different kinds of minds.</p>
      <br>
      <p>To keep a focus on community and emphasis on friendship.</p>
      <br>
      <p>To offer varied programs and teachers to enhance recovery, with classes led in love and kept positive with appreciation.</p>
      <br>
      <p>When you come to class, you enter a safe space. Each community member agrees to these class guidelines while in class. We strive to uphold them.</p>
    </ul>
  </div>
  <br>
  <div class="center-logo"> <%=image_tag("QuestionMark.jpg", :class => "page_img") %></div>
  <h1>Questions & Answers</h1>
  <div class="content">
    <ul>
    <p><b>Can I attend a class if I don’t have a diagnosed mental illness?</b><br>
    Yes. Even though our classes are designed for people recovering or suffering from a mental illness, anyone with a desire to boost their brain naturally is welcome.</p>

    <p><b>What do I need to know before coming to class?</b><br>
    Our classes are a safe space. Anyone who signs up to participate must agree to our class guidelines. Generally that means respecting yourself and respecting others while in class. You can read them here [insert link to guidelines page].</p>

    <p><b>What should I bring to class?</b><br>
    Water! We’ll provide everything else.</p>

    <p><b>How do I register to attend class?</b><br>
    We send out early bird invitations each month with information about where and when our next class is. Sign up here[link to email capture] to be included.</p>

    <p><b>When is class?</b><br>
    We host one free class each month.</p>

    <p><b>I tried to register but class is full.What now?</b><br>
    Additional classes may be added. Check back soon.</p>
</ul>
  </div>
</body>
</html>
