<!DOCTYPE html>
<html>
<head>
  <title>OurMission</title>
</head>
<body>
  <br>
  <div class="center-logo"> <%=image_tag("Content-holder.png") %></div>
  <br>
  <h1>Our Mission</h1>
  <div class="content">
    <p>The brain controls the body, but the body needs exercise to maintain and improve the brain. We created MWC because there is a large need for social and affordable fitness classes for people living with a mental illness. Exercise helps regulate emotional moods and is a natural anti-depressant. We want to help give your brain a boost, naturally.</p>
  </div>
</body>
</html>
