<!DOCTYPE html>
<html>
<head>
  <title>Classes</title>
</head>
<body>
  <br>
  <div class="center-logo"> <%=image_tag("Shoe.jpg", :class => "page_img") %></div>
  <br>
  <h1>Classes</h1>
  <div class="content">
    <p>Exercise is difficult especially if you can’t get out of bed. We offer different types of classes on a monthly schedule that allow for modifications if you need them. Our instructors are trained and they care.</p>
  </div>
</body>
</html>
