<!DOCTYPE html>
<html>
<head>
  <title>Classes</title>
</head>
<body>
  <br>
  <div class="center-logo"> <%=image_tag("Shoe.jpg", :class => "page_img") %></div>
  <br>
  <h1 class="title">Classes</h1>
  <div class="content">
    <p>Exercise is difficult especially if you can’t get out of bed. That’s why we created options.</p>
  </div>
  <br>
  <br>
  <h3 class="content title">Community</h3>
  <div class="content">
  <p>Offered on a monthly schedule and set to energizing music, classes are led by certified instructors and styled after Vinyasa yoga. They include a short mix of weights and allow for modifications if needed. We partner with studios to use available space and pick locations that maximize access and minimize your travel time. We keep you informed of upcoming classes via email. Classes open to all. The catch? No stigma allowed.</p>
  </div>
  <br>
  <h3 class="content title">Inpatient</h3>
  <div class="content">
  <p>Designed for basic movement and to engage and increase blood flow to brain, inpatient classes provide an example of attainable lifestyle fitness for anyone diagnosed with mental illness. Our mobile service means all mats are included with on-site visits to approved facilities. Classes are styled after Vinyasa yoga and led by certified instructors with lived-with experience.</p>
  </div>
  <br>
  <h3 class="content title">Outpatient</h3>
  <div class="content">
  <p>Designed to make you break a sweat with moderate effort, outpatient classes are styled after Vinyasa yoga and include a short mix of weights. Our mobile service includes all equipment (mats, weights) and a certified instructor with lived-with experience. Classes adaptable to space as available.</p>
  </div>
</body>
</html>
