<!DOCTYPE html>
<html>
<head>
  <title>Classes</title>
</head>
<body>
  <br>
  <div class="center-logo"> <%=image_tag("Shoe.jpg", :class => "page_img") %></div>
  <br>
  <div class="content" style="justify-content: center;">
    <p>All classes are led by certified instructors with life experience.</p>
  </div>
  <br>
  <br>
  <h3 class="title content">Community</h3>
  <div class="content"><p>Styled after a basic Vinyasa flow, with a little bit of weights.</p></div>
  <div class="content"><p>Set in various locations based on studio availability, and to minimize travel time and maximize access.</p></div>
  <div class="content"><p>Open to all. The catch? No stigma allowed.</p></div>
  <br>
  <h3 class="content title">Outpatient</h3>
  <div class="content"><p>Designed to make you break a sweat with moderate effort.</p></div>
  <div class="content"><p>Styled after a basic Vinyasa flow, with option for weights.</p></div>
  <div class="content"><p>Mobile class includes all equipment needed.</p></div>
  <br>
  <h3 class="content title">Inpatient</h3>
  <div class="content"><p>Designed to engage and increase blood flow to brain.</p></div>
  <div class="content"><p>Styled after a basic Vinyasa flow.</p></div>
  <div class="content"><p>Example of attainable lifestyle fitness.</p></div>
  <div class="content"><p>Mobile class includes all equipment needed.</p></div>
</body>
</html>


