/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  padding: 2%;
}
.notice{
  text-align: left;
  font-family: georgia;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
}
.alert{
  text-align: left;
  font-family: georgia;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
}
.app_header{
  display: flex;
  width: 100%;
  padding: 2%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: groove #F8F8F8;
  box-shadow: 0px 3px   #E8E8E8;
}
nav{
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: georgia;
  font-size: 20px;
  font-weight: bold;
}
#nav-logo{
  width: 30%;
  height: 30%;
  min-height: 100px;
  min-width: 100px;
}
footer{
  display: flex;
  width: 100%;
  background: white;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.contact{
  display: flex;
  width: 70%;
  flex-direction: row;
}
.social-icon{
  width: 10%;
  height: 10%;
}
#mail-to{
  font-family: georgia;
}









