.devise{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center-logo{
  display: flex;
  justify-content: center;
}
img{
  width: 27%;
  height: 27%;
}
h1{
  display: flex;
  justify-content: center;
  font-family: helvetica;
}
h2{
  display: flex;
  justify-content: center;
  font-family: helvetica;
  font-weight: normal;
}
#log_actioncall{
  display: flex;
  justify-content: center;
  font-family: helvetica;
  font-weight: normal;
}
#sessions_comp{
  display: flex;
  justify-content: left;
  font-family: helvetica;
}
.center-form{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: helvetica;
}
.deviselinks{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.field{
  font-family: helvetica;
}
input{
 font-family: helvetica;
}
button {
  font-family: helvetica;
}
