<p>Hello <%= @resource.first_name %>!</p>

<p>Congrats! You've successfully changed your password.</p>

<div class='center-logo'>
    <%= image_tag attachments['SMbrain.png'].url %>
</div>
<% attachments['mailBrain.png'] = File.read('app/assets/images/mailBrain.png') %>
